<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>
    Project8 Part 1
  </title>
  <%=yield :stylesheet%>
  <%=stylesheet_link_tag "application"%>
  <%= csrf_meta_tags%>
</head>
<body>
<h1>Gavin's CS142 Ruby on Rails Assignment Webpage</h1>
<div>
  <% if session[:user_id] == nil %> <!--if user is not logged in -->
      <%= link_to("Login", controller: "users", action: "login") %>
      <div>or</div>
      <%= link_to("Sign Up", controller: "users", action: "new") %>
  <% else %>
      <%= "Hello" %> <%= session[:firstname]%> <%="! "%>
      <%= link_to("Logout", controller: "users", action: "logout") %>
  <% end %>
  <br/>
  <%=image_tag("Stanford_logo.png", :size => '86x128')%>
  <%=yield%>
  <br />
  <br />
  <br />
</div>
</body>
</html>