<div>
  <br/>
  <% if session[:user_id] != nil %>  <!-- IF USER IS LOGGED IN -->
      <%= link_to("Add New Photo", controller: "photos", action: "new") %>
  <% end %>
  <hr width="40%">
  <% for currentphoto in @current_user.photos%>
      <br/>
      <div id=<%=currentphoto.id%>>
      <div id="container">
        <%= image_tag(currentphoto.file_name) %>
        <% for tags in currentphoto.phototags%>
            <% tempID = tags.user_id %>
            <% user = User.find(tempID) %>
            <div id="inner" style="top:<%=tags.yval%>px; left:<%=tags.xval%>px; height:<%=tags.height%>px; width:<%=tags.width%>px">
              <div class="name"><%=user.first_name + " " + user.last_name%></div></div>
            <style type="text/css">
              #<%=currentphoto.id%> {
                  position: relative;
                  display: inline-block;
              }
                #container {
                    position: relative;
                    display: inline-block;
                }
                #inner {
                    position: absolute;
                    border: solid;
                    border-width: 2px;
                }
                #inner:hover .name {
                    visibility: visible;
                    display: block;
                }
                .name {
                    visibility: hidden;
                }
            </style>
        <% end %>
      </div>
      </div>
      <br/>
      date: <%=currentphoto.date_time%>
      <br/>
      <br/>
      comments: <%for currentcomment in currentphoto.comments%>
          <%= currentcomment.comment %>
          <br/>
          <% tempID = currentcomment.user_id %>
          <% user = User.find(tempID) %>
          <%= link_to(user.first_name, controller: "photos", action: "index", id: user.id) %>
          <br/>
          <%= currentcomment.date_time %>
          <br/> <br/>
      <% end %>
      <br/>
      <% if session[:user_id] != nil %> <!-- IF USER IS LOGGED IN -->
          <%= link_to("Add Comment", controller: "comments", action: "new", id: currentphoto.id) %>
          <%= link_to("Tag Photo", controller: "phototag", action: "new", id: currentphoto.id) %>
      <% end %>
      <br/>
  <% end %>
</div>