<% if flash[:wronguserpass] %>
    <p><%= flash[:wronguserpass] %></p>
<% end %>
<% if flash[:emptyuser] %>
    <p><%= flash[:emptyuser] %></p>
<% end %>
<%= form_tag("post_login", :method => "post") do %>
    <%= label_tag(:username, "Username:") %>
    <%= text_field_tag(:username) %> <br/>
    <%= label_tag(:password, "Password:") %>
    <%= text_field_tag(:password) %> <br/>
    <%= submit_tag("Submit") %>
<% end %>