<div>
<br/>
  <% if flash[:nomatchpass] %>
      <p><%= flash[:nomatchpass] %></p>
  <% end %>
<%= form_tag("create", :method => "post") do %>
    <%= label_tag(:firstname, "First name:") %>
    <%= text_field_tag(:firstname) %> <br/>
    <%= label_tag(:lastname, "Last name:") %>
    <%= text_field_tag(:lastname) %> <br/>
    <%= label_tag(:possibleusername, "Username:") %>
    <%= text_field_tag(:possibleusername) %> <br/>
    <%= label_tag(:firstrypassword, "Password:") %>
    <%= text_field_tag(:firsttrypassword) %> <br/>
    <%= label_tag(:secondtrypassword, "Type your password again:") %>
    <%= text_field_tag(:secondtrypassword) %> <br/>
    <%= submit_tag("Submit") %>
<% end %>
</div>