<div>
  <% if session[:user_id] == nil %>
      <p>
        You do not have proper access to this page. Please login.
      </p>
  <% else %>
      <p>
        Tag the photo!<br/>
      <div id="container">
        <div id="inner" class="div"></div>
        <%= image_tag(@photo.file_name, id: "image")  %>
      </div>
      <p/>

      <style type="text/css">
          #container {
              position: relative;
              display: inline-block;
          }
          #inner {
              position: absolute;
              border: dashed;
              visibility: hidden;
          }
      </style>

      <%= form_for(:phototag, :method => :post, :url => {:action => :create}, :multipart => true) do |form| %>
          <%= form.hidden_field :xval %>
          <%= form.hidden_field :yval %>
          <%= form.hidden_field :height %>
          <%= form.hidden_field :width %>
          <%= form.hidden_field :photo_id, {:value => @photo.id}%>
          WHO: <%= select_tag "name", options_for_select(@users.collect{ |u| [u.first_name + " " + u.last_name, u.id] }) %>
          <%= submit_tag "Tag" %>
      <% end %>

      <%= javascript_include_tag "Tagger"%>
      <script type="text/javascript">
          //<![CDATA[
          var tag = new Tagger("container", "inner", "phototag_xval", "phototag_yval", "phototag_height", "phototag_width");
          //]]>
      </script>
  <% end %>
</div>